<%- model_class = Language -%>
<% title t '.title', :default => t('helpers.titles.edit', :model => model_class.model_name.human,
                                 :default => "New #{model_class.model_name.human}") %>
<div>
	<%= link_to t('helpers.links.list'), admin_languages_path,
  :class => 'btn btn-default' %>
	<%= link_to t('helpers.links.admin'), admin_path,
  :class => 'btn btn-default' %>
</div>

<%= render :partial => 'form' %>
