<% title t('.title') %>

  <% if current_user.role? User::ROLES[:admin] %>
   <div class="span4">
 		<ul class="standard">
 			<li>
       <%= link_to t('helpers.links.news'), admin_news_index_path %>
      </li>
 			<li>
       <%= link_to t('helpers.links.users'), admin_users_path %>
      </li>
 		</ul>
  </div>
  <% end %>
