.road {
/*  stroke-dasharray: 3242;
  stroke-dashoffset: 3242;*/
/*  stroke-width: 5px;*/
  /*stroke: #d42f33;*/
}
g[data-point] path {
  transition: fill .8s ease;
}
g[data-point] text,
g[data-point] text tspan  {
  transition: fill .8s ease;
  fill:#7f7f7f;
  font:11px OpenSans;
}
g[data-point]:hover,
.finish:hover,
g[data-point].active
 {
  cursor:pointer;
}
g[data-point]:hover > path,
g[data-point].active > path {
  fill:#262626;
}
g[data-point]:hover text,
g[data-point]:hover text tspan,
g[data-point].active > text,
g[data-point].active > text tspan {
  fill:#000;
}
g[data-point]:hover .start path,
g[data-point].active .start path {
  fill:#262626;
}

.finish:hover path[fill='#8E8E8E'],
.finish.active path[fill='#8E8E8E'],
.finish:hover rect[fill='#8E8E8E'],
.finish.active rect[fill='#8E8E8E'] {
  fill:#1E1E1E;
  /*stroke:#262626;*/
}
.tip rect {
  fill:#fff;
}
g[data-point] .tip text,
g[data-point] .tip text tspan {
  font:14px OpenSans;
  fill: #000;
}
/*svg .point:hover {

}
  svg .point +
svg g[data-point] text:hover {
  fill:#000;
}
g[data-point] .point {
  fill:#fff;
  stroke:#d42f33;
  cursor:pointer;
}
g.hover text {
  fill:#000;
}
*/
