<div id="modalos-reviewer" style="display:none;width:100%;height:100%;" >
  <div class="page-header">
    <div class="block">
      <h1>
        <%= t('stories.reviewer_key.title') %>
      </h1>
    </div>
  </div>
 <p id="review_instructions">
    <%= t('stories.reviewer_key.desc', :title => '[title]') %>
</p>
  
  <div><a id='review_url' href='[url]'>[url]</a></div>    
  <div>
    <button id="copy-button" class="btn btn-xs" data-clipboard-target="review_url"><%= t('.copy') %></button>
  </div>                          
  <div id="copied" style="display: none;" class="alert alert-success">
      <%= t('.copied') %>
  </div>     
</div>