.modalos-wrapper
{
  display:none;
  position: fixed;
  background-color: #fff; /* f8f8f8 */
  margin: auto;  
  border:1px solid #bbb;
  z-index: 9992;  
}
.modalos-wrapper .m-header
{
  height:15px;          
}
.modalos-wrapper .m-content
{
  z-index: 9993;
  position: absolute;
  top: 80px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  clear: both;
  height: auto;
  margin:0px;
  overflow-x: hidden;
  overflow-y: auto;   
}
/* Small Devices, Tablets */
/*@media only screen and (min-width : 768px) 
{
 .modalos-wrapper .m-content
  {
    margin:0px 10px 10px 10px;
  }
} */
.modalos-wrapper .m-content.fluid
{
  position: relative;
  top: 0px;
}
.modalos-wrapper .m-close
{
  position: absolute;
  right: 25px;
  top: 20px;
  cursor:pointer;
  opacity:0.5;
  padding:5px;
  z-index:9995;
  width: 30px;
  height: 30px;
}
.modalos-wrapper .m-close:hover
{
  opacity:1;
}
.modalos-bg
{
  display:none;
  position:fixed;
  top:0px;
  left:0px;
  width:100%;
  height:100%;
  background-color:rgba(0,0,0,0.6);  
  opacity: 1;
  z-index: 9991;
}
.modalos-keeper
{
  display:none;
}