<%- model_class = Highlight -%>
<% title t '.title', :default => t('helpers.titles.edit', :model => model_class.model_name.human,
                                 :default => "Edit #{model_class.model_name.human}") %>
<div class="row">
  <div class="col-md-6">
    <%= link_to t('helpers.links.list'), admin_highlights_path,
    :class => 'btn btn-default' %>
    <%= link_to t('helpers.links.admin'), admin_path,
    :class => 'btn btn-default' %>
  </div>
</div>

<%= render :partial => 'form' %>


