<% @template = @story.template.name %>
<% if !@clone.present? 
	@clone = false
	end %>

<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
  <head>
    <%= render partial: "storyteller/template/#{@template}/head"%>
  </head>
  <body>
    <%= render partial: "storyteller/template/#{@template}/nav"%>
    <div id='storyTeller' style='top:50px;'> 
      <%= render partial: "storyteller/template/#{@template}/content"%>   
    </div>
  </body>
</html> 