 $(document).ready(function() 
 {
	$('.story-tree > ul').append("<li id='<%= @item.id %>' data-type='<%= @item.get_str_type %>' class='item'><span><%= @item.title %></span>");	
	$("html, body").animate({ scrollTop: 0 }, "slow");
});