 $(document).ready(function() 
 {  
 	var li = $("<li id='<%= @item.id %>' data-type='<%= @item.get_str_type %>' class='item'><div class='box'><div class='collapser'>+</div><div class='title'><span class='glyphicon <%= @item.get_icon %>'></span><%= @item.title %></div></div>");
 	$('.story-tree ul li').removeClass('active');
	$('.story-tree > ul').append(li.addClass('active'));		
	li.find('.box > .title').trigger('click');	
	$('#btnAddItem').trigger('click');
});
