$("#storyViewer").hide().html("<div id='mediaForm'><%= escape_javascript( render :partial => 'media') %></div>").fadeIn('slow');
<% imageTemp = '' %>
<% videoTemp = '' %>
<% if @item.image_exists? %>
	<%	imageTemp = "<img  width='100%' src='#{@item.image.asset.url}'/>" %>
<% end %>

$("#modalImage .modal-data").html("<%= imageTemp.html_safe %>");

<% if @item.video_exists? %>
	<%	videoTemp = "<source src='#{@item.video.asset.url}' type='#{@item.video.asset.content_type}'>" %>  
<% end %>

$("#modalVideo .modal-data video").html("<%= videoTemp.html_safe %>");