$("#storyViewer").html(" <div id='contentForm'><%= escape_javascript( render :partial => 'content') %></div>");

$("#contentArticle").change(function(){
		$("#modalContent .modal-data").html($(this).val());});	
$("#modalContent .modal-data").html("<%= escape_javascript( @item.content.html_safe ) %>");
	
