<div class="page-about">
   <% title @page.present? ? @page.title : t('.title') %>

   <% if @page.present? %>
     <%= simple_format_no_tags(@page.content, {}, {sanitize: false}) %>
   <% end %>
</div>