<% title @page.title %>

<% content_for(:header) { %>
    <header class="header-about %>">
      <div class="header-data">
        <div class="title"><%= @page.title %></div>
        <div class="intro"><%= t("app.common.about_intro").html_safe %></div>
    </header>
  <div class="about-text"> <%= @page.content.html_safe if @page.present? %></div>
<% } %>

