<%= stylesheet_link_tag  *(["grid","embed"]), :media => "all" %>  
<div class="story-wrapper" >
	<%= render partial: "shared/grid_item" , locals:{:story=>@story}%> 		
</div>  
<div class="storybuilder">
	<a href="http://storybuilder.jumpstart.ge" target="_parent"><img src="/favicon.ico" width="16" height="16" class="provider-favicon" ><%= t('.home_link') %></a>
</div>  

