<h1 id="tester">Add Section to Interactive Story</h1><br/>
<div class="content">
	<div class="row">
		<div class="span2">
			<div class='preview' >
				<ul>
					<li>Section 1
						<ul>
							<li>Slide 1</li>
							<li>Slide 2</li>
						</ul>
					</li>
					<li>Section 2</li>
				</ul>
			</div>
		</div>
	  	<div class="span10">
  			<div id="editor" style="width:100%;">
				<div class='fields-row full'>
					<div class='field-tl full'>
						<label>Choose section type</label>
						<div><select id='section_type'><option selected='selected'>Column</option><option>Video</option></select>
						</div>
					</div>
				</div>	
				<div id="section_column">
					<div class='fields-row'>
						<div class='field-tl'>
							<label>Article</label>
							<div id='tinemce'><textarea rows='11' cols='80'></textarea></div>
						</div>	
					</div>	
				</div>				
				<div id='section_video' style='display:none;'>
					<div class='fields-row'>
						<div class='field-tl'>
							<label>Slide data</label>
							<div><select id='slide_data'><option selected='selected'>Image</option><option>Video</option></select>
							</div>
						</div>						
					</div>	
					<div id='section_audio_upload' style='display:none;'>			
						<div class='fields-row'>
							<div class='field-mr'>
									<label>Bind audio to section</label>
									<div><input type="checkbox" name="section_audio" id="section_audio"/></div>
								</div>
						</div>
					</div>
					<div class='fields-row'>
						<div class='field-tl'>
							<label>Audio file path</label>
							<div><input type="file"  value=""  accept="audio/*|video/*|image/*"/></div>
						</div>			
					</div>		
					<div class='fields-row'>
						<div class='field-tl'>
							<label>Caption</label>
							<div><textarea id='video-caption' value="" placeholder="Caption for slide"> </textarea></div>
						</div>
						<div class='field-tl'>
							<label>Caption Alignment</label>
							<div><select><option>Left</option><option>Center</option><option>Right</option></select></div>
						</div>
					</div>		
					<div class='fields-row'>
						<div class='field-tl'>
							<label>Source file path</label>
							<div><input type="file"  value=""  accept="audio/*|video/*|image/*"/></div>
						</div>							
					</div>	
					<div class='fields-row'>
						<div class='field-tl'>
							<label>Additional Extensions</label>
							<div><select multiple>
							  <option value="mp4" selected>mp4</option>
							  <option value="webm">webm</option>		  
							</select></div>
						</div>			
					</div>						
					<div class='fields-row'>
						<div class='field-tl'>
							<label>Summary</label>
							<div><textarea id='video-summary' value="" placeholder="Caption for slide"> </textarea></div>
						</div>
						<div class='field-tl'>
							<label>Source</label>
							<div><input type="text" id='video-source' value="" placeholder="Data Source"/></div>
						</div>							
					</div>	
					<div>
						<input type="button" id="btnAddSection" value="Save"/>
						<input type="button" id="btnAddSection" value="Save & New Slide"/>		
					</div>
				</div>						
			</div>
	  	</div>
	</div>
</div>