<% title @page.title %>

<div class="todo tinymce_format">
  <p id="last_update">
    <span>
    <%= t('.last_update') %>:
    </span>
    <%= l @page.updated_at, :format => :publish %>
  </p>

  <%= simple_format_no_tags(@page.content, {}, {sanitize: false}) %>
</div>

 <div class='sticker'>
      <div class='sticker-wrapper'>
        <div class='title'>Disability</div>
        <div class='sep'></div>
        <div class='blah'>Monthly Themes</div>
      </div>
    </div>