/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.

 
 *= require formtastic 
 *= require formtastic-bootstrap
 *= require jquery.ui.core
 *= require jquery.ui.theme  
 *= require bootstrap_and_overrides
 *= require_self

*/

@font-face {
    font-family: "bandera-pro";    
    src: url( '/assets/fonts/bandera-pro-heavy.otf') format("opentype");           
    font-style: normal;
    font-weight: 200;
}
@font-face {
    font-family: "dejavusans-el";    
    src: url( '/assets/fonts/dejavusans-extralight.ttf') format("truetype");           
    font-style: normal;
    font-weight: 200;
}
@font-face {
    font-family: "opensans-l";    
    src: url( '/assets/fonts/opensans-light.ttf') format("truetype");           
    font-style: normal;
    font-weight: 200;
}
@font-face {
    font-family: "opensans-r";    
    src: url( '/assets/fonts/opensans-regular.ttf') format("truetype");           
    font-style: normal;
    font-weight: 200;
}
@font-face {
    font-family: "opensans-b";    
    src: url( '/assets/fonts/opensans-bold.ttf') format("truetype");           
    font-style: normal;
    font-weight: 200;
}

/* clear floats */
.clearfix:after, .clear:after {
    visibility: hidden;
    display: block;
    content: "";
    clear: both;
    height: 0;
}
* html .clearfix, * html .clear             		{ zoom: 1; } /* IE6 */
*:first-child+html .clearfix, *:first-child+html .clear { zoom: 1; } /* IE7 */

/* make bootstrap button link color stay white 
a.btn, a.btn:visited {
	color: #000 !important;
}
a.btn-primary, a.btn-primary:visited, a.btn-info, a.btn-info:visited, a.btn-success, a.btn-success:visited,
a.btn-warning, a.btn-warning:visited, a.btn-danger, a.btn-danger:visited, a.btn-inverse, a.btn-inverse:visited {
	color: #fff !important;
}
*/
/* general */
a, a:link, a:hover, a:visited, a:active
{
  color: #555;
  background-color: transparent;
}
.content a {
  text-decoration: none; /*underline*/
}
a:hover {
  color: #348BE8;
  background-color: none;
  text-decoration: none; /*underline*/
}
a.brand:hover{
  background-color: transparent;
}

h1, h2, h3 {
   font-family: Arial;
   color: #555;
  font-weight: bold;
}
h1 {
   font-size: 18pt;
}
h1 small {
   color: inherit;
   font-size: 16pt;
	display: block;
	padding-top: 0.3em;
	margin-left: 1em;
}

h2 {
   font-size: 16pt;
	margin-bottom: 0.5em;
}

h3 {
  font-size: 12pt;
}

.page-header h1 {
  color: #348be8;
}
strong {
	font-weight: bold;
}

p {
margin: 0.5em 0;
}

hr {
	color: #ccc !important;
	background-color: #ccc !important;
	height: 2px;
}

ul.standard, ol.standard, ul.standard ul, ol.standard ol,
ul.standard ol, ol.standard ul {
	padding-left: 2em;
}

ul.standard li {
	list-style-type:disc;
	line-height: 1.5;
}
ol.standard li {
	list-style-type:decimal;
	line-height: 1.5;
}

/* so ie will display the correct color background */
.navbar-fixed-top .navbar-inner, .navbar-fixed-bottom .navbar-inner {
	filter: none; 
}

/* multilanguage form styles */
div#form-en {
	background-color:#ddd;
	padding: 0.5em;
	margin-bottom: 0.5em;
}

div#form-ka {
	background-color:#999;
	padding: 0.5em;
	margin-bottom: 0.5em;
}

/* error message styling */
.errorExplanation
{
    padding: 0.8em;
    margin-bottom: 1em;
    border: 2px solid #ddd;
    background: #F2DEDE;
    color: #B94A48;
    border: 1px solid #EED3D7;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.errorExplanation h2
{
    color: #B94A48 !important;
}

.errorExplanation a
{
    color: #B94A48;
}

/* Footer */
footer {
	margin-top: -57px; /* negative value of footer height */
	min-height: 57px !important;
	background-color:#121212;
	/*background-image: linear-gradient(to bottom, #222222, #111111);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff222222', endColorstr='#ff111111', GradientType=0);
	border-color: #252525;*/
	padding: 0 20px;
	/*padding-top: 13px;*/	
	color: #727272;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  font-family: opensans-l;
  font-size:16px;
}
footer a:hover
{
  color:#fff !important;
}
footer a:hover img
{
opacity: 1;
}
footer a img
{
opacity: 0.4;
}
footer .container > div
{
	height:57px;
	line-height:57px;
	vertical-align: middle;
 
}
footer .container div
{ display:inline-block;}
footer div#left {
	margin: 0 !important;
	float: left;
	width: 30%;
	margin-top: 20px;  	
}
footer a:hover {
	color: #ffffff;
}

footer #middle {
   margin: 0;
	font-size: 12px;
	width: 40%;
	text-align: center;
	float: left;
}
footer #middle ul {
	height:57px;
	line-height:57px;
}

footer #middle ul li {
	display: inline;
	font-family: opensans-l;
  font-size:16px;
  color:#898989;
  border-right: 1px solid #898989;
}
footer #middle ul li:last-child {
  border-right: none;
}
footer #middle ul li a {
	padding: 0 10px;
    font-family: opensans-l;
  font-size:16px;
  color:#898989;
}

footer div#right {
	margin: 0 !important;
	float: right;
	width: 30%;
	text-align: right;
}
footer div#right ul li {
	display:inline;
}
footer div#right #js_link_text{
	text-align: right;
}
footer div#right #js_logo{
	text-align: left;
}
footer div#right #js_logo img {
	vertical-align: middle;
}
footer div#right img {
	vertical-align: middle;
}
footer, footer ul li, footer div#right ul li {
 	color: #999999;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}


/* nested form styles */
#nested_form_container {
	margin: 0.5em 0;
  padding: 1em;
  background-color: #ddd;
}

#nested_form_container h3 {

}

#nested_form_container .nested_form_item {
  background-color: #eee;
  padding: 0.5em 1em;
}
/* bootstrap button takes it styles from formtastic styles */
.formtastic input
{
	padding:4px 14px !important;
	font-size:14px !important;
}


/* datatables bootstrap */
div.dataTables_length label {
    width: 460px;
    float: left;
    text-align: left;
}
 
div.dataTables_length select {
    width: 75px;
}
 
div.dataTables_filter label {
    float: right;
    width: 460px;
}
 
div.dataTables_info {
    padding-top: 8px;
}
 
div.dataTables_paginate {
    float: right;
    margin: 0;
}
 
table {
    margin: 1em 0;
    clear: both;
}
.help-inline, .help-block
{
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  background-color: #fff;
  color: #9E9E9E !important;
  width:21px;
  height:20px;
  font-size:16px;
  font-style:normal;  
  vertical-align:middle;
  display:inline-block; 
  cursor:help;
  padding:0px;
  border: 1px solid #9E9E9E;
}
.help-inline div,.help-block div {
  margin-top:2px;
  margin-left: 6px;
}
.error-inline, .error-block
{
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  background-color: #fff;
  color: #b94a48 !important;
  width:21px;
  height:20px;
  font-size:16px;
  font-style:normal;  
  vertical-align:middle;
  display:inline-block; 
  cursor:help;
  padding:0px;
  border: 1px solid #b94a48;
}
.error-inline div,.error-block div {
  margin-top:2px;
  margin-left: 8px;
}
select, input[type="file"] {
	height: 20px;
	line-height: 20px;
}
#btn-up-slideshow,#btn-down-slideshow
{
	padding:3px 9px;

}
input[type=text]{
	margin-bottom:0px;
}


/* Navbar */
.avatar
{     
  width: 40px;
  height: 40px;
  border-radius: 150px;
  -webkit-border-radius: 150px;
  -moz-border-radius: 150px;    
  box-shadow: 0 0 8px rgba(0, 0, 0, .8);
  -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
  -moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
  margin-top:5px;
}
.avatar-link
{
  margin:0px !important;
  padding:0px !important;
}

nav .nav-logo
{
  padding: 15px 20px 10px 91px !important;
}
nav .nav-user
{
  padding-right:91px  !important;;
  padding-top: 5px;
}

nav .nav-user .lang_switch
{     
  color:#fff;
}

/* grid */
.story-thumbnail img{-webkit-transition:all .25s linear;-moz-transition:all .25s linear;-o-transition:all .25s linear;transition:all .25s linear;-webkit-transform:translateZ(0);-moz-transform:translateZ(0);-ms-transform:translateZ(0);transform:translateZ(0)}
.story-thumbnail img{
float: left;
width: 100%;
max-width: 100%;
height: 328px;
}
.grid-wrapper{max-width:;}
.grid{margin:0}
.grid{clear:both;margin:0 23px 0 0}
.grid:after{content:'';display:block;clear:both}
.grid.no-clear:after{display:none}
.inner .grid{margin:0 0 0 -23px}
.grid .col{position:relative;float:left;padding:0 0 23px 23px;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;-ms-box-sizing:border-box;box-sizing:border-box;-webkit-transition:width .3s ease-out;-moz-transition:width .3s ease-out;-ms-transition:width .3s ease-out;transition:width .3s ease-out}
.grid .col.first{padding-left:0}
.grid.test .col .content{padding:20px 0;background:#df6c4f;color:#FFF;text-align:center}
.grid .col.n-1{width:8.33%}
.grid .col.n-2{width:16.66%}
.grid .col.n-2-5{width:20%}
.grid .col.n-3{width:25%}
.grid .col.n-4{width:33.33%}
.grid .col.n-5{width:41.66%}
.grid .col.n-6{width:50%}
.grid .col.n-7{width:58.33%}
.grid .col.n-8{width:66.66%}
.grid .col.n-9{width:75%}
.grid .col.n-9-5{width:80%}
.grid .col.n-10{width:83.33%}
.grid .col.n-11{width:91.66%}
.grid .col.n-12{width:100%}
.pad-left{padding-left:23px}
.mar-left{margin-left:23px}
.grid.one-row .col,.grid .col.one-row,.grid.one-row .col .list-item>li,.grid.one-row p:last-child{margin-bottom:0;padding-bottom:0}
.col-2 .col:nth-of-type(2n+1),.col-3 .col:nth-of-type(3n+1),.col-6 .col:nth-of-type(6n+1){clear:both}
.grid.align-center{text-align:center}
.grid.align-center .col{float:none;display:inline-block}
@media screen and (max-width:1570px)
{
  #content.full{padding:0}
  .grid .col.n-3{width:33.33%}
  .col-4 .col:nth-of-type(4n+1){clear:none}
  .col-4 .col:nth-of-type(3n+1){clear:both}
  .grid .col.n-2-5{width:25%}
  .col-5 .col:nth-of-type(5n+1){clear:none}
  .col-5 .col:nth-of-type(4n+1){clear:both}
  .user-directory .grid .col.n-9-5{width:75%}
  .user-directory .grid .col.n-3{width:33.33%}
}

  @media screen and (max-width:1530px)
  {
    .list-item li .countdown .stats{display:none}
}
  @media screen and (max-width:1280px)
  {
    .list-item li .countdown .hasCountdown{display:none}
    .list-item li .countdown .stats{display:block}
    .grid .col.n-2{width:19.99%}
    .col-6 .col:nth-of-type(6n+1){clear:none}
    .col-6 .col:nth-of-type(5n+1){clear:both}
    .grid .col.n-2-5{width:33.33%}
    .col-5 .col:nth-of-type(4n+1){clear:none}
    .col-5 .col:nth-of-type(3n+1){clear:both}
    .grid .col.n-3{width:50%}
    .col-4 .col:nth-of-type(3n+1){clear:none}
    .col-4 .col:nth-of-type(2n+1){clear:both}
    .user-directory .grid .col.n-9-5{width:66.67%}
    .user-directory .grid .col.n-3{width:50%}}
    @media screen and (max-width:1156px){
      .grid .col.n-2{width:24.99%}
      .col-6 .col:nth-of-type(5n+1){clear:none}
      .col-6 .col:nth-of-type(4n+1){clear:both}}
      @media screen and (max-width:1096px){
        .grid .col.n-4{width:50%}
        .col-3 .col:nth-of-type(3n+1){clear:none}
        .col-3 .col:nth-of-type(2n+1){clear:both}
        .grid .col.n-2-5{width:50%}
        .col-5 .col:nth-of-type(3n+1){clear:none}
        .col-5 .col:nth-of-type(2n+1){clear:both}
        .user-directory .grid .col.n-9-5{width:100%;padding-bottom:0}
      }
        @media screen and (max-width:954px)
        {
          .list-table>li .col.n-2{display:none}
        .list-table>li .col.n-1,.list-table>li .col.n-3{width:50%}
        .list-table>li .col.n-4{clear:both;width:100%}
        .block.head-user.votes .list-table>li .col.n-4 p{display:none}
        .block.head-user.votes .list-table>li .col.n-4 .box-notesite{float:none;padding:10px 0 0 0;top:0}
        .grid .col.n-2{width:33.329%}
        .col-6 .col:nth-of-type(4n+1){clear:none}
        .col-6 .col:nth-of-type(3n+1){clear:both}}
        @media screen and (max-width:768px){
          .grid .col.n-2{width:50%}
        .col-6 .col:nth-of-type(3n+1){clear:none}
        .col-6 .col:nth-of-type(2n+1){clear:both}
        .grid .col.n-2-5{width:100%}
        .grid .col.n-2-5 .box-user .desc{height:auto}
        .col-5 .col:nth-of-type(2n+1){clear:none}
        .grid .col.n-3{width:100%}
        .user-directory .grid .col.n-3{width:100%}}
        @media screen and (max-width:614px){
          .grid .col.n-4{width:100%}}
          @media screen and (max-width:480px){.list-table>li .col.n-3{display:none}}















          .story-thumbnail
{width: 459px;
height: 328px;}
.story-thumbnail img {
    line-height: 328px; 
    /*border-bottom: 1px solid #ccc;*/
    margin-bottom: 22px;    

}
.story-thumbnail a:hover .story-link
{

    background-image: url("/assets/link.png");
background-position: center center;
width: 459px;
height: 329px;
position:absolute;
top:0px;
background-repeat: no-repeat;
background-color:rgba(34,34,34,0.5);
   -webkit-transition: color 0.25s ease-out 0s;
      -moz-transition: color 0.25s ease-out 0s;
      -o-transition: color 0.25s ease-out 0s;
      transition: color 0.25s ease-out 0s;   
      transition-property:background-color;
    -moz-transition-property: background-color; /* Firefox 4 */
    -webkit-transition-property:background-color; /* Safari and Chrome */
    -o-transition-property:background-color; /* Opera */
}
.col  .story-info a
{
    text-decoration:none;
    opacity: 0.8;
    cursor:pointer;
}
/*.col a:hover
{
    text-decoration:none;
    opacity: 1;
    color:initial;
}*/
.col .story-info a:hover
{
    text-decoration:none;
    opacity: 1;
    color:initial;
}
.col *:hover
{
    
    opacity: 1;
    
}
.pin .img img 
{
    vertical-align: middle;
    width:459px;
    height:328px;
}
.story-caption
{
    width:400px;
    line-height: 20px;
    font-size:20px;    
    overflow:hidden !important;
    text-overflow: ellipsis;
    text-decoration: none;
    color:#2b2c27;   
    padding-bottom:10px; 
}
.story-caption a
{
    width:400px;
    line-height: 20px;
    font-size:20px;    
    overflow:hidden !important;
    text-overflow: ellipsis;
    text-decoration: none;
    color:#2b2c27;   
    padding-bottom:10px; 
}

.story-caption
{
  color:#444444;
}

.story-publish
{   
  color:#bbb; 
  font-size:14px;
}
.story-author
{ 
  color:#bbb;   
  font-size:14px;
  line-height: 16px;
  height: 16px;
  /*overflow:hidden !important;*/
  text-overflow: ellipsis;
  text-decoration: none;
}
.story-likes
{
   width:39px;
   height:38px;
   background: url('/assets/likes.png') center no-repeat;
  background-size: cover;  
  float:right; 
}
.story-likes a{
  line-height: 34px;
   display: block;
   text-align: center;
}
.story-likes a.n1,.story-likes a.n2,.story-likes a.n3,.story-likes a.n4
{
   font-size:14px;   
}
.story-likes a.n5
{
  font-size:12px;
}
.story-likes a.n6,.story-likes a.n7
{
   font-size:10px;
}
.author
{
  color:#4e4e4e;
  font-size:14px;
}
.story-author,.story-publish,.author
{
  display:inline-block;
}
