/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.

 
 *= require formtastic 
 *= require formtastic-bootstrap
 *= require jquery.ui.core
 *= require jquery.ui.theme  
 *= require jquery.ui.dialog 
 //= require modalos   
 *= require bootstrap_and_overrides
 *= require scaffolds
 *= require_self
*/
@font-face {
    font-family: "bandera-pro-l";    
    src: url( '/assets/fonts/bandera-pro-l.otf') format("opentype");           
    font-style: normal;
    font-weight: 200;
}
@font-face {
    font-family: "bandera-pro";    
    src: url( '/assets/fonts/bandera-pro.otf') format("opentype");           
    font-style: normal;
    font-weight: 200;
}
@font-face {
    font-family: "bandera-pro-m";    
    src: url( '/assets/fonts/bandera-pro-m.otf') format("opentype");           
    font-style: normal;
    font-weight: 200;
}
@font-face {
    font-family: "bandera-pro-b";    
    src: url( '/assets/fonts/bandera-pro-b.otf') format("opentype");           
    font-style: normal;
    font-weight: 200;
}
@font-face {
    font-family: "bandera-pro-h";    
    src: url( '/assets/fonts/bandera-pro-h.otf') format("opentype");           
    font-style: normal;
    font-weight: 200;
}
@font-face {
    font-family: "bandera-pro-hi";    
    src: url( '/assets/fonts/bandera-pro-hi.otf') format("opentype");           
    font-style: normal;
    font-weight: 200;
}
@font-face {
    font-family: "dejavusans-el";    
    src: url( '/assets/fonts/dejavusans-extralight.ttf') format("truetype");           
    font-style: normal;
    font-weight: 200;
}
@font-face {
    font-family: "opensans-l";    
    src: url( '/assets/fonts/opensans-light.ttf') format("truetype");           
    font-style: normal;
    font-weight: 200;
}
@font-face {
    font-family: "opensans-r";    
    src: url( '/assets/fonts/opensans-regular.ttf') format("truetype");           
    font-style: normal;
    font-weight: 200;
}
@font-face {
    font-family: "opensans-b";    
    src: url( '/assets/fonts/opensans-bold.ttf') format("truetype");           
    font-style: normal;
    font-weight: 200;
}
/* clear floats */
.clearfix:after, .clear:after {
    visibility: hidden;
    display: block;
    content: "";
    clear: both;
    height: 0;
}
* html .clearfix, * html .clear             		{ zoom: 1; } /* IE6 */
*:first-child+html .clearfix, *:first-child+html .clear { zoom: 1; } /* IE7 */
* { -webkit-font-smoothing: antialiased; }
*:focus {outline: 0 !important;}
/* make bootstrap button link color stay white 
a.btn, a.btn:visited {
	color: #000 !important;
}
a.btn-primary, a.btn-primary:visited, a.btn-info, a.btn-info:visited, a.btn-success, a.btn-success:visited,
a.btn-warning, a.btn-warning:visited, a.btn-danger, a.btn-danger:visited, a.btn-inverse, a.btn-inverse:visited {
	color: #fff !important;
}
*/
/* general */
a, a:link, a:hover, a:visited, a:active
{
  color: #000;
  background-color: transparent;
  -webkit-transition:all .15s ease-out;
  -moz-transition:all .15s ease-out;
  -ms-transition:all .15s ease-out;
  transition:all .15s ease-out;
}
.content a {
  text-decoration: none; /*underline*/
}
a:hover {
  color: #000;
  background-color: none;
  text-decoration: none; /*underline*/
}
a.brand:hover{
  background-color: transparent;
}

h1, h2, h3 {
  font-family: bandera-pro,verdana;
  color: #3D3D3D;
}
h1 {
   font-size: 20pt;
}
h1 small {
  color: inherit;
  font-size: 16pt;
	display: block;
	padding-top: 0.3em;
	margin-left: 1em;
}

h2 {
   font-size: 16pt;
	margin-bottom: 0.5em;
}

h3 {
  font-size: 12pt;
}

.page-header h1 {
  color: #3D3D3D;
}
strong {
	font-weight: bold;
}

p {
margin: 0.5em 0;
}

hr {
	color: #ccc !important;
	background-color: #ccc !important;
	height: 2px;
}

ul.standard, ol.standard, ul.standard ul, ol.standard ol,
ul.standard ol, ol.standard ul {
	padding-left: 2em;
}

ul.standard li {
	list-style-type:disc;
	line-height: 1.5;
}
ol.standard li {
	list-style-type:decimal;
	line-height: 1.5;
}

/* so ie will display the correct color background */
.navbar-fixed-top .navbar-inner, .navbar-fixed-bottom .navbar-inner {
	filter: none; 
}

/* multilanguage form styles */
div#form-en {
	background-color:#ddd;
	padding: 0.5em;
	margin-bottom: 0.5em;
}

div#form-ka {
	background-color:#999;
	padding: 0.5em;
	margin-bottom: 0.5em;
}

/* error message styling */
.errorExplanation
{
    padding: 0.8em;
    margin-bottom: 1em;
    border: 2px solid #ddd;
    background: #F2DEDE;
    color: #B94A48;
    border: 1px solid #EED3D7;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.errorExplanation h2
{
    color: #B94A48 !important;
}

.errorExplanation a
{
    color: #B94A48;
}

/* Footer */
footer {
  clear:both;
	margin-top: -50px; /* negative value of footer height */
	min-height: 50px !important;
	background-color:#121212;
	padding: 0 20px;
	color: #727272;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  font-family: opensans-l;
  font-size:14px;
}
footer a:hover
{
  color:#fff !important;
}
footer a:hover img
{
opacity: 1;
}
footer a img
{
opacity: 0.4;
}
footer > div
{
	height:50px;
	line-height:50px;
	vertical-align: middle;
 
}
footer div
{ display:inline-block;}
footer div#left {
	margin: 0 !important;
	float: left;
	width: 30%;
	margin-top: 20px;  	
}
footer #middle {
   margin: 0;
	font-size: 12px;
	width: 40%;
	text-align: center;
	float: left;
}
footer #middle ul {
	height:50px;
	line-height:50px;
}

footer #middle ul li {
	display: inline;
	font-family: opensans-l;
  font-size:14px;
  color:#898989;
  border-right: 1px solid #898989;
}
footer #middle ul li:last-child {
  border-right: none;
}
footer #middle ul li a {
	padding: 0 10px;
    font-family: opensans-l;
  font-size:14px;
  color:#898989;
}

footer div#right {
	margin: 0 !important;
	float: right;
	width: 30%;
	text-align: right;
}
footer div#right ul li {
	display:inline;
}
footer div#right #js_link_text{
	text-align: right;
}
footer div#right #js_logo{
	text-align: left;
}
footer div#right #js_logo img {
	vertical-align: middle;
}
footer div#right img {
	vertical-align: middle;
}
footer, footer ul li, footer div#right ul li {
 	color: #999999;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}


/* nested form styles */
#nested_form_container {
	margin: 0.5em 0;
  padding: 1em;
  background-color: #ddd;
}

#nested_form_container h3 {

}

#nested_form_container .nested_form_item {
  background-color: #eee;
  padding: 0.5em 1em;
}
/* bootstrap button takes it styles from formtastic styles */
.formtastic input
{
	padding:4px 14px !important;
	font-size:14px !important;
  box-sizing:content-box;
}
@-moz-document url-prefix() {

    select {
        padding-top: 8px;
    }
}

/* datatables bootstrap */
div.dataTables_length label {
    width: 460px;
    float: left;
    text-align: left;
}
 
div.dataTables_length select {
    width: 75px;
}
 
div.dataTables_filter label {
    float: right;
    width: 460px;
}
 
div.dataTables_info {
    padding-top: 8px;
}
 
div.dataTables_paginate {
    float: right;
    margin: 0;
}
 
table {
    margin: 1em 0;
    clear: both;
}
.help-inline, .help-block
{
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  background-color: #fff;
  color: #9E9E9E !important;
  width:21px;
  height:20px;
  font-size:16px;
  font-style:normal;  
  vertical-align:middle;
  display:inline-block; 
  cursor:help;
  padding:0px;
  border: 1px solid #9E9E9E;
  margin-left:10px;
}
.help-inline div,.help-block div {
  margin:1px 0px 0px 5px;
}
.error-inline, .error-block
{
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  background-color: #fff;
  color: #b94a48 !important;
  width:21px;
  height:20px;
  font-size:16px;
  font-style:normal;  
  vertical-align:middle;
  display:inline-block; 
  cursor:help;
  padding:0px;
  border: 1px solid #b94a48;
    margin-left:10px;
}
.error-inline div,.error-block div {
  margin:1px 0px 0px 7px;
}
select, input[type="file"] {
/*	height: 25px;
	line-height: 25px;*/
}
#btn-up-slideshow,#btn-down-slideshow
{
	padding:3px 9px;

}
input[type=text]{
	margin-bottom:0px;  
}
.formtastic .input
{
  overflow:visible;

}
.formtastic .form-group label
{

}
.formtastic .form-control
{
  display:inline-block;
}
.formtastic .control-label
{
  display:block;
  clear:both;
margin-bottom:3px;
}
.formtastic .control-label abbr
{
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  background-color: #fff;
  color: #9E9E9E !important;
  width:21px;
  height:20px;
  font-size:16px;
  font-style:normal;  
  vertical-align:middle;
  display:inline-block; 
  cursor:help;
  padding:0px;
  border: 1px solid #9E9E9E;
  margin-left:10px;
  padding:4px 0px 0px 6px;
}
.formtastic .select select {
  max-width: 72%;
}

.social
{
  display:inline-block;
  margin-left:30px;
}

.fb-like
{top: -14px;
margin-right:8px;}
.powered-by
{
  font-family:opensans-l,verdana;
  font-size:14px;
  text-align: right;
  margin-right: 27px;
  height:16px;
  margin-bottom:15px;
  color:#333;
  background-color:transparent;
  float:right;
}
.powered-by a
{
  color:#333;
}
.powered-by a:hover,.powered-by a:focus
{
  text-decoration:underline;  
  color:#000;
}


/* storybuilder image sprite */
.i-icon
{
    background-color: transparent;
    background-image: url('/assets/sprite.png');
    display: inline-block;
    vertical-align: middle;
    width:27px; 
    height:27px;
    opacity:1;
}
.i-search
{
    background-position: 0px 108px;         
}
.i-like
{
    background-position: -27px 0px;  
    /*background-position: 0px 0px; */
}  
.i-like-d
{
    
    background-position: 0px 0px;
}  
*:hover > .i-like
{
  
}
.i-liked
{
    background-position: -55px 0px;         
}
.i-staffpick
{
    background-position: 0px -28px;    
    /*background-position: 0px -28px;*/
}
*:hover > .i-staffpick
{
         
}
.i-staffpicked
{
    background-position: -27px -28px;         
}
.i-build
{
    background-position: 0px -55px;         
}
.i-share
{
    background-position: -27px -82px;
    /* background-position: 0px -82px; */         
}
*:hover > .i-share
{
           
}
.i-comment
{

    background-position: -27px -136px;
    /* background-position: 0px -136px; */           
}
.i-comment-d
{
    
    background-position: 0px -136px;
}
*:hover > .i-comment
{

         
}
.i-link
{
    background-position: -27px -163px;   
     /*background-position: 0px -163px;*/        
}
*:hover > .i-link
{
         
}
.i-facebook
{
    background-position: -27px -190px;
    /*background-position: 0px -190px; */         
           
}
*:hover > .i-facebook
{
   
}
.i-twitter
{
    background-position: -27px -217px;    
    /*background-position: 0px -217px; */     
     }
*:hover > .i-twitter
{
     
}
.i-google
{
  background-position: -27px -244px;         
  /* background-position: 0px -244px; */
}
*:hover > .i-google
{
   
}
.i-caret
{
    background-position: -27px -269px;  
    /*background-position: 0px -269px;         */
}
.i-caret-b
{    
    background-position: 0px -269px;        
}
.i-facebook-l
{
    background-position: 0px -296px;         
}
.i-twitter-l
{
    background-position: 0px -323px;         
}
.i-mail
{
    background-position: 0px -350px;         
}
.i-print
{
    background-position: 0px -377px;         
}
.i-plus
{
    background-position: 0px -404px;         
}
.i-views
{
    background-position: 0px -431px;         
}
/* show result of nickname permalink check */
#user_nickname_input + div#check_nickname_results{
  margin-bottom: 1em;
  margin-top: -0.5em;
  & > span.check_nickname{
    margin-left: 10px;
    padding: 5px;
    &.duplicate{
      background-color:rgba(225, 145, 159, 0.5);
    }
    &.not_duplicate{
      background-color:rgba(168, 210, 184, 0.5);
    }
  }
}

/* for bootstrap select min */
.bootstrap-select.btn-group .btn .filter-option{
  padding: 4px 14px;
} 

/* login popup */
#login-form,#reset-password-form,#signup-form
{
  .title
  {
    font-family:opensans-l;
    font-size:30px;
    color:#bdbdbd;
    margin-bottom:25px;
    line-height:36px;
    text-align:center;
  }
  .providers
  {
    margin-bottom:25px;
    text-align:center;
    a.facebook
    {
      display:inline-block;
      font-family:opensans-l;
      font-size:18px;
      color:#fff;      
      background: #26acfa;      
      border:1px solid #fff;
      -webkit-border-radius: 133px;
      -moz-border-radius: 133px;
      border-radius: 133px;      
      height:57px;
      padding: 0px 20px 0px 15px;
      text-decoration: none;
      line-height: 51px;
      width:290px;
      opacity:0.8;
  }
  a.facebook:hover
  {
    opacity:1;
  }
   a.facebook i
   {
      margin-right:10px;
   }
  }
  .facebook_or_local
  {
      display:inline-block;
      font-family:opensans-l;
      font-size:14px;
      color:#959595;     
      text-align:center;  
      font-style:italic;
      width:100%; 
      margin-bottom:15px;          
  }

  .formtastic .input
  {
    text-align: center;
  }
  .formtastic input
  {    
    margin:0px;
    float:none;
  }
.formtastic .stringish input[size] {  
  max-width: 290px;
}
.control-group {
  width:100%;
  margin:0px auto;
  text-align: center;
  clear:both;
}
  .login-username
  {
    display:inline-block;
    font-family:opensans-l;
    font-size:16px !important;
    color:#c5c5c5;            
    border:1px solid #d9d9d9;
    -webkit-border-radius: 133px !important;
    -moz-border-radius: 133px !important;
    border-radius: 133px !important;              
    text-decoration: none;    
    height:45px;
    width:290px;  
  }
  .login-password,.login-password-confirmation
  {
    display:inline-block;
    font-family:opensans-l;
    font-size:16px !important;
    color:#c5c5c5;            
    border:1px solid #d9d9d9;
    -webkit-border-radius: 133px !important;
    -moz-border-radius: 133px !important;
    border-radius: 133px !important;              
    text-decoration: none;    
    height:45px;
    width:290px;   
  }
  .submit-row
  {
    margin-bottom:100px !important; 
    width:290px !important;
  }
  .remember-me
  {
    font-family:opensans-l;
    font-size:16px !important;
    color:#8d8d8d; 
    display:inline-block; 
    float:left;       
  }
   .sign-in
   {    float:right !important;
   }
  .sign-in,.pass-reset,.sign-up
  {
    display:inline-block;
    font-family:opensans-b;
    font-size:16px !important;
    background-color:#c7c7c7;
    color:#fff;            
    border:1px solid #d9d9d9;
    -webkit-border-radius: 133px !important;
    -moz-border-radius: 133px !important;
    border-radius: 133px !important;              
    text-decoration: none;        

    height:45px !important;
    -webkit-transition:all .15s ease-out;
    -moz-transition:all .15s ease-out;
    -ms-transition:all .15s ease-out;
    transition:all .15s ease-out;
  }
  .sign-in:hover,.password-reset:hover
  {
    background-color:#333;        
    -webkit-transition:all .10s ease-out;
    -moz-transition:all .10s ease-out;
    -ms-transition:all .10s ease-out;
    transition:all .10s ease-out;
  }

  .forgot-link
  {
    display:block;
    font-family:opensans-l;
    font-size:14px !important;    
    color:#888;      
    text-decoration:underline; 
    text-align:center !important;    
    margin-bottom:5px;     
  }
  .sign-up-box,.forgot-box
  {
   text-align:center;
   margin-top: 10px;
  }
  .sign-up-box .sign-up-link 
  {
     display:inline-block;
    font-family:opensans-b;
    font-size:14px !important;    
    color:#26acfa;             
  }

  .sign-up-box span, .sign-in-link
  {    
    font-family:opensans-l;
    font-size:14px !important;    
    color:#888;          
  }
}
#news_items,#todo
{
  margin-left:10px;
}

