#filter
{
  width:100%;
  height:70px;
  margin:0px auto;

  ul.nav
  {
    width:100%;
    margin:0px;
    &.s{display:block;}
    &.h{display:none;}
    > li >
    {
      a
      {
        font-family:'dejavusans-el';
        font-size:16px;
        color:#575757;
        &:hover
        {
          color:#adadad;
        }
      }
      a:lang(en)
      {
        font-family:opensans;
      }
      ul > li > a
      {
        font-size:15px;
      }
    }

  }
  .all-stories
  {
    font-family:'dejavusans-b';
    font-size:24px;
    color:#767676;
    &:lang(en)
    {
      font-family:'opensans-eb';
    }
  }
  .dropdown-menu
  {
    background-color: #252525;
    margin-top: -3px;
  }
  .following
  {
    margin-left: 5px;
    color: #7f7f7f;
    &.active
    {
      color: #000;
    }
    i
    {
      margin-top:-3px;
    }
  }
  .not_published
  {
    color: #7f7f7f;
    i
    {
      opacity:0.5;
      margin-top:-3px;
    }
    &.active
    {
      i
      {
        opacity:1;
      }
      color: #000;
    }

  }
  // .nav li.dropdown.open
  // {
  //   .dropdown-menu li a
  //   {
  //     background-color:transparent;
  //   }
  //   a.dropdown-toggle
  //   {
  //     background-color:transparent;
  //   }
  // }
  .nav li.dropdown:hover
  {
    .dropdown-menu li a
    {
      background-color:transparent;
    }
    a.dropdown-toggle
    {
      background-color:transparent;
    }
  }
  .nav li.dropdown a.dropdown-toggle.selected
  {
    font-family: 'dejavusans-r';
    &:lang(en)
    {
      font-family:'opensans-b';
    }
  }

  .dropdown-menu > li > a
  {
    font-family: 'dejavusans';
    font-size:14px;
    color:#575757;
    background-color: transparent;
    &:lang(en)
    {
      font-family:'opensans';
    }
  }
  .dropdown-menu > li > a.active,.dropdown-menu > li > a:hover
  {
    color: #adadad;
  }
  #search-filter input[type="text"]
  {
    border: 0 none;
    /*width: 200px;*/
    padding: 6px 15px 6px 35px;
    background: url('/assets/svg/search_b.svg') no-repeat 5px;
    background-size:21px 21px;
    font-family:'dejavusans-el';
    font-size:16px;
    color:#000;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    -webkit-transition:all .15s ease-out;
    -moz-transition:all .15s ease-out;
    -ms-transition:all .15s ease-out;
    transition:all .15s ease-out;
    outline:none;
    opacity:0.8;
    &:focus,&:hover { opacity:1; }
    &:lang(en)
    {
      font-family: opensans;
    }
    @media (max-width: 767px)
    {
      &,&:focus,&:hover
      {
        width: 100%;
      }
    }
  }
  #search-input
  {
    ::-webkit-input-placeholder { color: #dadada; }
    :-moz-placeholder { color: #dadada; } /* Firefox 18- */
    ::-moz-placeholder { color: #dadada; } /* Firefox 19+ */
    :-ms-input-placeholder { color: #dadada; }
  }

  /* Media query */
  /* Custom, iPhone Retina */
  @media only screen and (min-width : 320px)
  {
    > ul.nav
    {
      line-height:50px;

      > li
      {
        width:100%;
        border-bottom:1px solid #363636;
        margin:0px;
        > a
        {
          padding-left:10px;
          margin:0px;
          width:100%;
          > i
          {
            position:absolute;
            right:10px;
            top:25%;
          }
        }
        &.li-sort-label
        {
          display:none;
        }
        > ul.dropdown-menu
        {
          position:relative;
          width:100%;
          border:0px;
          > li
          {
            border:0px;
            > a
            {
              padding:8px 14px 8px 44px;
            }
          }
        }
      }
    }

    > .mob
    {
      border-bottom:1px solid #eaeaea;
      display:table;
      width:100%;
      vertical-align:middle;

      > .search
      {
        display:table-cell;
        width:100%;
        vertical-align:middle;
        input
        {
          display:block !important;
        }
      }

      > .filters
      {
        display:table-cell;
        vertical-align:middle;
        border-top:1px solid #eaeaea;
        border-left:1px solid #eaeaea;
        border-right:1px solid #eaeaea;
        border-bottom:0px solid #eaeaea;
        padding:0px 10px;
        font-family:dejavusans;
        font-size: 16px;
        color:#000;
        white-space: nowrap;
        text-align:left;
        &:hover
        {
          text-decoration:none;
          cursor:pointer;
        }
        &:lang(en)
        {
          font-family: opensans;
        }
      }
    }
  }

  /* Extra Small Devices, Phones */
  @media only screen and (min-width : 480px) { }

  /* Small Devices, Tablets */
  @media only screen and (min-width : 768px)
  {
    > ul.nav
    {
      line-height: 70px;
      margin: 0px 0px;
      width:auto;

      &.s{display:block;}
      &.h{display:none;}
      > li
      {
        &
        {
          width:auto;
          border:none;
          margin-left:10px;
        }
        &.li-sort-label
        {
          display:block;
        }
        > a
        {
          padding-left:10px;
          margin:0px;
          width:100%;
          display:inline-block;

          > i
          {
            position:static;
          }
        }
        > ul.dropdown-menu
        {
          position:absolute;
          width:auto;
          li
          {
            > a
            {
              padding:8px 14px;
            }
          }
        }
      }
    }
    .sort-label
    {
      font-family:dejavusans;
      font-size: 16px;
      color: #646464;
      background-color: transparent;
      margin:0px 0px 0px 60px;
      &:lang(en)
      {
        font-family: opensans,verdana;
      }
    }
  }

  /* Medium Devices, Desktops */
  @media only screen and (min-width : 992px)
  {
    float:left;
    // border-bottom:1px solid #eaeaea;
    > .mob
    {
      border-bottom:0px;
      display:inline-block;
      width:auto;
      vertical-align:middle;
      float:left;
      > .filters
      {
        display:none;
      }
      > .search
      {
        display:inline-block;
        width:auto;
        vertical-align:middle;
        input
        {
          display:inline-block !important;
        }
      }
    }
    ul.nav
    {
      display:inline-block !important;
      vertical-align: middle;
      visibility:visible;
      //float:right !important;
      // &.s{display:inline-block !important;}
      // &.h{display:inline-block !important; }
      > li > ul.dropdown-menu > li
      {
        border:0px !important;
      }
    }
  }

  /* Large Devices, Wide Screens */
  @media only screen and (min-width : 1200px) { }
}
