#filter
{
  width:100%;
  margin:0px auto 20px auto;
  height:60px; /*56px*/
  ul.nav > li > a
  {
    font-family:opensans-r,verdana;
    font-size:16px;
  }

  .dropdown-menu
  {
    background-color: #fff;
    margin-top: -7px;
    & > li > a:hover, & > li > a:focus 
    {
      background-color: #c5c5c5;
    }
  }
  .staff_pick i
  {
    margin-right:5px;
    margin-top:-3px;
  }
  .following{
    margin-left: 5px;
  }
  .following i
  {
    margin-right:5px;
    margin-top:-3px;
  }
  .nav li.dropdown a.dropdown-toggle.selected
  {
    font-weight:600 !important;
    font-family:opensans-b,verdana;
  }
  .dropdown-menu > li > a.active
  {
    font-family:opensans-b,verdana;    
    background-color: transparent; 
    color: #555;      
  }

  .search-wrapper
  {
    float:right;
    height:56px;
    line-height:56px;
    vertical-align:middle;
  }
  .search-wrapper div, .search-wrapper form
  {
    vertical-align:middle;
  }
  .search-box
  {
    height:56px;
    width:56px;
    line-height:56px;
    display: table;
    padding-left:19px;
    padding-right: 17px;
    border:1px solid #646464;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    -webkit-transition: all 0.4s ease-in 0s;
    -moz-transition: all 0.4s ease-in 0s;
    -o-transition: all 0.4s ease-in 0s;
    transition: all 0.4s ease-in 0s;   
    transition-property:width;
    -moz-transition-property: width; /* Firefox 4 */
    -webkit-transition-property:width; /* Safari and Chrome */
    -o-transition-property:width; /* Opera */
    z-index:103;
  }
  .search-box:hover
  {  
    width:500px;
  }
  .search-box.active
  {  
    width:500px;
  }
  .search-text 
  {
    overflow:hidden;
    margin-right:40px; 
    margin-left:6px;    
    display:table-cell;   
    min-width:0px;
    height:56px;
    font-family: opensans-r,verdana;
    font-size: 18px;
  }
  .search-text input
  {
    font-family: opensans-r,verdana;
    font-size: 18px;    
    width:100%;
    height:40px;
    line-height:25px;
    border:none;
    background-color:transparent;
    color:#000;
    display:none;
  }
  .search-button
  {
    display:table-cell;
    background: transparent url('/assets/search_b.png'); 
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 21px 21px;
    width:21px;
    height:56px;
    min-width:21px;
    cursor:pointer;
  }
}
    


  /* Custom, iPhone Retina */ 
  @media only screen and (min-width : 320px) {
      #filter
      {
        > ul.nav
        {
          line-height:50px;
          margin:0px;
        }
        > ul.nav > li 
        { 
          float:none;
          width:100%;
          border-bottom:1px solid #eaeaea;
          margin:0px;
        }  
        > ul.nav > li:first-child
        {
          border-top:1px solid #eaeaea;
        }
        > ul.nav > li > a
        {
          padding-left:20px;
          margin:0px;
          width:100%;
          
        } 
        > ul.nav > li > a > i
        {         
          position:absolute;
          right:10px;
          top:25%;
        }
        > ul.nav > li.li-sort-label 
        {
          display:none;
        }
  
        > ul.nav > li > ul.dropdown-menu
        {
          position:relative;
          width:100%;
          border:0px;
        }
        > ul.nav > li > ul.dropdown-menu > li
        {
          border:0px;
        }
        > ul.nav > li > ul.dropdown-menu > li:first-child
        {
          border-top:1px solid #eaeaea;
        }
        > ul.nav > li > ul.dropdown-menu > li:last-child
        {
          border-bottom:1px solid #eaeaea;
        }
         > ul.nav > li > ul.dropdown-menu > li > a
        {
          padding:8px 14px 8px 44px;
        }
      }
  }

  /* Extra Small Devices, Phones */ 
  @media only screen and (min-width : 480px) {
     
  }

  /* Small Devices, Tablets */
  @media only screen and (min-width : 768px) {
  #filter
      {
        > ul.nav
        {
          line-height: 60px;
          margin: 0px 23px;
        }
        > ul.nav > li ,> ul.nav > li:first-child
        { 
          float:left;
          width:auto;
          border:none;  
          margin-left:20px;        
        }
        > ul.nav > li > a
        {
          padding-left:20px;
          margin:0px;
          width:100%;
          display:inline-block;
          
        } 
        > ul.nav > li > a > i
        {         
          position:static;
          
        }
        > ul.nav > li.li-sort-label
        {
          display:block;
        }
        > ul.nav > li > ul.dropdown-menu
        {
          position:absolute;
          width:auto;   
          border: 1px solid rgba(0, 0, 0, 0.15);
        }
        > ul.nav > li > ul.dropdown-menu li:not(:last-child) 
        {
          border-bottom: 1px solid rgba(0, 0, 0, 0.15);
        }
        > ul.nav > li > ul.dropdown-menu > li > a
        {
          padding:8px 14px;
        }
         .sort-label
          {    
            font-family:opensans-r,verdana;
            font-size: 15px;                    
            padding: 2px 2px;
            color: #989898;
            background-color: transparent;    
            margin-right:10px;
          }
      }    
  }

  /* Medium Devices, Desktops */
  @media only screen and (min-width : 992px) {

  }

  /* Large Devices, Wide Screens */
  @media only screen and (min-width : 1200px) {
   
  }
