/* grid */

.story-thumbnail
{
  position:relative;
  display:block;
  margin-bottom: 22px;  
  max-width: 459px;
  max-height:329px;  
   -webkit-transition:all .25s linear;
  -moz-transition:all .25s linear;
  -o-transition:all .25s linear;
  transition:all .25s linear;
}

.story-thumbnail:after {
content: '';
display: block;
clear: both;
}

.story-thumbnail:hover
{   
    background-color:rgba(34,34,34,1);
   -webkit-transition: color 0.25s ease-out 0s;
    -moz-transition: color 0.25s ease-out 0s;
    -o-transition: color 0.25s ease-out 0s;
    transition: color 0.25s ease-out 0s;   
    transition-property:background-color;
    -moz-transition-property: background-color; /* Firefox 4 */
    -webkit-transition-property:background-color; /* Safari and Chrome */
    -o-transition-property:background-color; /* Opera */
}

.story-thumbnail:hover .story-link
{

    background-image: url("/assets/link.png");
    background-position: center center;
    background-repeat: no-repeat;

   display: block;
position: absolute;
top: 50%;
left: 50%;
width: 43px;
height: 42px;
margin: -21px 0 0 -21px;
/*border: 2px solid rgba(255,255,255,0.75);
border-radius: 50%;*/
text-indent: -23em;
overflow: hidden;

}
.story-thumbnail img
{
  float: left;
  width: 100%;
  max-width: 459px;
  max-height:329px;
  height: auto;
  -webkit-transition:all .25s linear;
  -moz-transition:all .25s linear;
  -o-transition:all .25s linear;
  transition:all .25s linear;
  -webkit-transform:translateZ(0);
  -moz-transform:translateZ(0);
  -ms-transform:translateZ(0);
  transform:translateZ(0);
}
.story-thumbnail:hover img
{ 
  opacity:0.7;
}


.grid{margin:0}
.grid{clear:both;margin:0 23px 0 0}
.grid:after{content:'';display:block;clear:both}
.grid.no-clear:after{display:none}
.inner .grid{margin:0 0 0 -23px}
.grid .col{position:relative;float:left;padding:0 0 23px 23px;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;-ms-box-sizing:border-box;box-sizing:border-box;-webkit-transition:width .3s ease-out;-moz-transition:width .3s ease-out;-ms-transition:width .3s ease-out;transition:width .3s ease-out}
.grid .col.first{padding-left:0}
.grid.test .col .content{padding:20px 0;background:#df6c4f;color:#FFF;text-align:center}
.grid .col.n-1{width:8.33%}
.grid .col.n-2{width:16.66%}
.grid .col.n-2-5{width:20%}
.grid .col.n-3{width:25%}
.grid .col.n-4{width:33.33%}
.grid .col.n-5{width:41.66%}
.grid .col.n-6{width:50%}
.grid .col.n-7{width:58.33%}
.grid .col.n-8{width:66.66%}
.grid .col.n-9{width:75%}
.grid .col.n-9-5{width:80%}
.grid .col.n-10{width:83.33%}
.grid .col.n-11{width:91.66%}
.grid .col.n-12{width:100%}
.pad-left{padding-left:23px}
.mar-left{margin-left:23px}
.grid.one-row .col,.grid .col.one-row,.grid.one-row .col .list-item>li,.grid.one-row p:last-child{margin-bottom:0;padding-bottom:0}
.col-2 .col:nth-of-type(2n+1),.col-3 .col:nth-of-type(3n+1),.col-6 .col:nth-of-type(6n+1){clear:both}
.grid.align-center{text-align:center}
.grid.align-center .col{float:none;display:inline-block}

@media screen and (max-width:1570px)
{
  #content.full{padding:0}
  .grid .col.n-3{width:33.33%}
  .col-4 .col:nth-of-type(4n+1){clear:none}
  .col-4 .col:nth-of-type(3n+1){clear:both}
  .grid .col.n-2-5{width:25%}
  .col-5 .col:nth-of-type(5n+1){clear:none}
  .col-5 .col:nth-of-type(4n+1){clear:both}
  .user-directory .grid .col.n-9-5{width:75%}
  .user-directory .grid .col.n-3{width:33.33%}
}

  @media screen and (max-width:1530px)
  {
    .list-item li .countdown .stats{display:none}
}
  @media screen and (max-width:1280px)
  {
    .list-item li .countdown .hasCountdown{display:none}
    .list-item li .countdown .stats{display:block}
    .grid .col.n-2{width:19.99%}
    .col-6 .col:nth-of-type(6n+1){clear:none}
    .col-6 .col:nth-of-type(5n+1){clear:both}
    .grid .col.n-2-5{width:33.33%}
    .col-5 .col:nth-of-type(4n+1){clear:none}
    .col-5 .col:nth-of-type(3n+1){clear:both}
    .grid .col.n-3{width:50%}
    .col-4 .col:nth-of-type(3n+1){clear:none}
    .col-4 .col:nth-of-type(2n+1){clear:both}
    .user-directory .grid .col.n-9-5{width:66.67%}
    .user-directory .grid .col.n-3{width:50%}}

@media screen and (max-width:1156px)
{
  .grid .col.n-2{width:24.99%}
  .col-6 .col:nth-of-type(5n+1){clear:none}
  .col-6 .col:nth-of-type(4n+1){clear:both}
}

@media screen and (max-width:1096px){
  .grid .col.n-4{width:50%}
  .col-3 .col:nth-of-type(3n+1){clear:none}
  .col-3 .col:nth-of-type(2n+1){clear:both}
  .grid .col.n-2-5{width:50%}
  .col-5 .col:nth-of-type(3n+1){clear:none}
  .col-5 .col:nth-of-type(2n+1){clear:both}
  .user-directory .grid .col.n-9-5{width:100%;padding-bottom:0}
}
@media screen and (max-width:954px)
{
  .list-table>li .col.n-2{display:none}
  .list-table>li .col.n-1,.list-table>li .col.n-3{width:50%}
  .list-table>li .col.n-4{clear:both;width:100%}
  .block.head-user.votes .list-table>li .col.n-4 p{display:none}
  .block.head-user.votes .list-table>li .col.n-4 .box-notesite{float:none;padding:10px 0 0 0;top:0}
  .grid .col.n-2{width:33.329%}
  .col-6 .col:nth-of-type(4n+1){clear:none}
  .col-6 .col:nth-of-type(3n+1){clear:both}
}
@media screen and (max-width:768px){
  .grid .col.n-2{width:50%}
  .col-6 .col:nth-of-type(3n+1){clear:none}
  .col-6 .col:nth-of-type(2n+1){clear:both}
  .grid .col.n-2-5{width:100%}
  .grid .col.n-2-5 .box-user .desc{height:auto}
  .col-5 .col:nth-of-type(2n+1){clear:none}
  .grid .col.n-3{width:100%}
  .user-directory .grid .col.n-3{width:100%}
}
@media screen and (max-width:614px)
{
  .grid .col.n-4{width:100%}
}
@media screen and (max-width:480px)
{
  .list-table>li .col.n-3{display:none}
}

.col .story-info
{
  max-width: 459px;
  max-height:329px;  
}
.col  .story-info a
{
    text-decoration:none;
    opacity: 0.8;
    cursor:pointer;
}
/*.col a:hover
{
    text-decoration:none;
    opacity: 1;
    color:initial;
}*/
.col .story-info a:hover
{
    text-decoration:none;
    opacity: 1;
    color:initial;
}
.col *:hover
{
    
    opacity: 1;
    
}

.story-caption
{
    color:#444444;
    width:100%;
    line-height: 20px;
    font-size:20px;    
    overflow:hidden !important;
    text-overflow: ellipsis;
    text-decoration: none;
    color:#2b2c27;   
    padding-bottom:10px; 

}
.story-caption a
{
    width:100%;
    line-height: 20px;
    font-family:bandera-pro-l;
    font-size:20px;    
    overflow:hidden !important;
    text-overflow: ellipsis;
    text-decoration: none;
    color:#2b2c27;   
    padding-bottom:10px; 
    overflow:hidden;
}

.story-publish
{   
  color:#bbb; 
  font-size:14px;
}
.story-author
{ 
  color:#bbb;   
  font-size:14px;
  line-height: 16px;
  height: 16px;
  /*overflow:hidden !important;*/
  text-overflow: ellipsis;
  text-decoration: none;
}
.story-likes
{
   width:39px;
   height:38px;
   background: url('/assets/likes.png') center no-repeat;
  background-size: cover;  
  float:right; 
}
.story-likes span{
  line-height: 34px;
   display: block;
   text-align: center;
}
.story-likes span.n1,.story-likes span.n2,.story-likes span.n3,.story-likes span.n4
{
   font-size:14px;   
}
.story-likes span.n5
{
  font-size:12px;
}
.story-likes span.n6,.story-likes span.n7
{
   font-size:10px;
}
.author
{
  color:#4e4e4e;
  font-size:14px;
}
.story-author,.story-publish,.author
{
  display:inline-block;
}

/* show result of nickname permalink check */
input#user_nickname + div + span.check_nickname{
  margin-left: 10px;
  padding: 5px;
  &.duplicate{
    background-color:rgba(225, 145, 159, 0.5);
  }
  &.not_duplicate{
    background-color:rgba(168, 210, 184, 0.5);
  }

}

.story-info .separator
{
  height:16px;
  line-height:16px;  
  width:1px;
  background-color:#bbb;
  display:inline-block;
  margin:0px 9px;
  position:relative;
  top:3px;
}


/* pagination */
.pagination-wrapper
{
  text-align: center;
  margin:0px auto;
  width: 100%;  
  text-decoration:none;
  color:#fafafa;

  ul.pagination 
  {
    list-style:none;

    li
    {
      padding:5px;
      display:inline-block;

      a
      {
        font-size:20px;
        font-family:opensans-b;
      }
    }
    li.active a{
      font-size:20px;
      font-family:opensans-b;
    }
  }
}