.navbar-storybuilder 
{ 
  height:54px;
  background-color:#242424;
  z-index:1034;
  color:#fff;
  a
  {
    color:#fff;
    padding:0px;
  }
  .link
  {    
    color:#fff;
    opacity:0.8;
    font-family:opensans-r !important;
    font-size:16px;
    font-weight:500;
    text-decoration:none;
    outline:none;
  }
  .link:hover
  {
    opacity:1;
  }
  a.build-story
  {
    opacity:0.8;
    margin-right:20px;
    color:#ddd;
  }
  a.build-story i
  {
    margin-right: 3px;
  }
  .navbar-logo
  {
    vertical-align: middle;
    line-height: 54px;
  }
  ul.nav
  {
    margin:0px;
    padding:0px;
    display:block; 
    height:100%; 
  }
  ul.nav > li
  {
    display:inline-block;
    float:left;
    list-style: none;
    height:100%;
    line-height: 54px;
    vertical-align:middle;
  }
  ul.nav > li > *
  {
    float:left;
    line-height: 54px;
    vertical-align:middle;
    font-size:14px;
  }
  .nav-separator
  {
    height:30px;
    margin: 10px 20px 0px 20px;
    float:left;
    border-left:1px solid #353535;
    border-right:1px solid #1e1e1e;
  }
  .pull-left > div
  {
    display:inline-block;
    line-height:54px;
    vertical-align:middle;
  }
  .lang_switch
  {
    font-family:dejavusans-el !important;
    font-size:16px !important;
    font-weight: 600;
    margin-left: 10px;
    letter-spacing: 1px;
    opacity: 0.8;
  }
  .avatar
  {     
    width: 40px;
    height: 40px;
    border-radius: 150px;
    -webkit-border-radius: 150px;
    -moz-border-radius: 150px;    
    display:block;
    margin-top:6px;
  }
  .avatar-link
  {
    margin:0px !important;
    padding:0px !important;
    height:50px;
  }
   .dropdown-about-storybuilder
  {
    font-family:opensans-l;
    font-size:14px;
    text-align:left;    
  }
  .dropdown-about-storybuilder.open > a,.dropdown-about-storybuilder.open > a i
  {      
    opacity: 1 !important;   
    color:#fff !important;     
  }
  .dropdown-about-storybuilder > .dropdown-menu
  {
    
    opacity: 1;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -o-border-radius: 0px;
    border-radius: 0px;    
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    right: -22px;
    top:100%;
    min-width: 115px;
  }  

  #search-form input[type="text"] {    
        border: 0 none;            
        width: 200px;
        padding: 6px 15px 6px 35px;
        background: url('/assets/search_w.png') no-repeat 5px;
        font-family:opensans-r;
        font-size:16px; 
        color:#dadada;       
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
        -webkit-transition:all .15s ease-out;
        -moz-transition:all .15s ease-out;
        -ms-transition:all .15s ease-out;
        transition:all .15s ease-out;
        outline:none;
        opacity:0.8;
  }
  #search-form
  {
    ::-webkit-input-placeholder {
      color: #dadada;
    }
    :-moz-placeholder { /* Firefox 18- */
       color: #dadada;
    }
    ::-moz-placeholder {  /* Firefox 19+ */
       color: #dadada;
    }
    :-ms-input-placeholder {  
       color: #dadada;  
    }
  }
  #search-form input[type="text"]:focus,#search-form input[type="text"]:hover {
     width: 350px;
     opacity:1;             
  }
  @media (max-width: 767px) {
  #search-form input[type="text"],
  #search-form input[type="text"]:focus,#search-form input[type="text"]:hover{
      width: 100%;
    }
  }
}
.navbar-invisible
{
  position:absolute;
  top:0px;
  background-color:transparent;


   #search-form input[type="text"] {    
        color: #fff;
        background: url('/assets/search_w.png') no-repeat 5px;
  }

  #search-form
  {
    ::-webkit-input-placeholder {
      color: #fff;
    }
    :-moz-placeholder { /* Firefox 18- */
       color: #fff;
    }
    ::-moz-placeholder {  /* Firefox 19+ */
       color: #fff;
    }
    :-ms-input-placeholder {  
       color: #fff;  
    }
  }


  .nav-separator
  {   
    border-left: 1px solid rgba(255, 255, 255, 0.32);
    border-right:0px solid #fff;
  }

}
.navbar-visible
{
    position:fixed;
    top:0px;
    background-color: #242424;
    opacity:1;
    -webkit-transition: opacity 800ms ease-in 0ms; /* property duration timing-function delay */
    -moz-transition: opacity 800ms ease-in 0ms;
    -o-transition: opacity 800ms ease-in 0ms;
    transition: opacity 800ms ease-in 0ms;
}
.navbar-visible-invisible
{
    opacity:0;
}