/* Home Page */
html, body {min-height:100%;}
.header
{     
  width: 100%;
  height: 100%;    
  text-align: center;   

  position:relative;

  &.intro1
  {

    background: url('/assets/headers/header-bg-01.jpg') no-repeat right bottom;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; 
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='./assets/headers/header-bg-01s.jpg', sizingMethod='scale');
    -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/assets/headers/header-bg-01s.jpg', sizingMethod='scale')";
  }
  &.intro2
  {    
 
    background: url('/assets/headers/header-bg-02.jpg') no-repeat bottom left;    
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;        
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='./assets/headers/header-bg-02s.jpg', sizingMethod='scale');
    -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/assets/headers/header-bg-02s.jpg', sizingMethod='scale')";

  }
  .header-data
  {
    position:relative;
    width:100%;
    margin:0px auto;
    top:30%;           
    vertical-align: middle;
    color:#fff;
    .h1
    {
      font-family:bandera-pro-hi;
      font-size: 92px;
      font-size:10vmin;
      color: #fff;      
      margin:0px;
      padding:0px;
    }
    .h1:lang(ka)
    {
      font-family:dejavusans-el;      
    }
    .h3
    {
      font-family:bandera-pro-hi,dejavusans-el;
      font-size: 46px;
      font-size: 5vmin;      
      color:#fff;      
      margin:0px;
      padding:0px;
    }
    .h3:lang(ka)
    {
      font-family:dejavusans-el;
      font-size: 78px;
      font-size: 5vmin; 
    }
    .intro
    {
      font-family:opensans-r,verdana;
      font-size:18px;
      font-size:1.8vmin;
      margin:1em 0px 2em 0px;      
      padding:0px;
      line-height: 1.4em;
    }
  }

  .build-story
  {        
    text-align: center;
    margin: 25px auto 0px;
    width: 100%;    
  }
  .build-story a
  {
    display:inline-block;
    font-family:opensans-r;
    font-size:18px;
    color:#fff !important;      
    background: transparent url('/assets/build_w.png') center no-repeat;
    background-position: 18px 18px; 
    border:1px solid #fff;
    -webkit-border-radius: 133px;
    -moz-border-radius: 133px;
    border-radius: 133px;        
    padding: 18px 18px 18px 42px;
    text-decoration:none;
    -webkit-transition:all .15s ease-out;
    -moz-transition:all .15s ease-out;
    -ms-transition:all .15s ease-out;
    transition:all .15s ease-out;
  }
@media 
(-webkit-min-device-pixel-ratio: 2), 
(min-resolution: 192dpi) { 
    /* Retina-specific stuff here */
}
  .build-story a:hover,.build-story a:focus
  {      
    color:#000 !important;
    background: transparent url('/assets/build_b.png') center no-repeat; 
    background-position: 18px 18px; 
    background-color:#fff;
    text-decoration:none;
            -webkit-transition:all .10s ease-out;
    -moz-transition:all .10s ease-out;
    -ms-transition:all .10s ease-out;
    transition:all .10s ease-out;
  }
  .explore
  {
    position: absolute;   
    bottom: 50px;
    text-align: center;
    margin: 0px auto;
    width: 100%;
    height:57px;
  }
   .explore a
  {
    display:inline-block;
    font-family:opensans-r;
    font-size:16px;
    color:#fff !important;      
    background: transparent url('/assets/search_w.png') center no-repeat;
    background-position: 0px 0px; 
    border:none;
    padding-left: 31px;
    height:21px;
    text-decoration:none;
    -webkit-transition:all .15s ease-out;
    -moz-transition:all .15s ease-out;
    -ms-transition:all .15s ease-out;
    transition:all .15s ease-out;
  }
  .scroll-prompt
  {
    position:absolute;
    bottom:5%;
    text-align: center;
    margin: 0px auto;
    width: 100%;
  }
  .scroll-prompt svg {

    fill: #fff;    
    stroke-width: 2px;       
    position:relative;
    top:0px;
    animation:arrows infinite;
    animation-duration:0.9s;
    animation-direction:alternate-reverse;

    /*  Safari and Chrome   */
    -webkit-animation:arrows infinite;
    -webkit-animation-duration:0.9s;
    -webkit-animation-direction:alternate-reverse;
}
  @-webkit-keyframes arrows {
    from {
      top:0px;
    }
    to {
      top:10px;
    }
  }
  @keyframes arrows {
    from {
      top:0px;
    }
    to {    
      top:10px;
    }
  }

}




  /* Custom, iPhone Retina */ 
  @media only screen and (min-width : 320px) {
      .explore{display:none;}
      .intro{display:none;}



  }

  /* Extra Small Devices, Phones */ 
  @media only screen and (min-width : 480px) {

  }

  /* Small Devices, Tablets */
  @media only screen and (min-width : 768px) {
    .explore{display:block;}


}
  /* Medium Devices, Desktops */
  @media only screen and (min-width : 992px) {
    .intro{display:block;}
        .header.intro1
    {     
      background-attachment:fixed;
    }
    .header.intro2
    {     
      background-attachment:fixed;
    }      

  }

  /* Large Devices, Wide Screens */
  @media only screen and (min-width : 1200px) {

  }
  

