@font-face {
    font-family: "bandera-pro";    
    src: url( '/assets/fonts/bandera-pro-heavy.otf') format("opentype");           
    font-style: normal;
    font-weight: 200;
}
@font-face {
    font-family: "dejavusans-el";    
    src: url( '/assets/fonts/dejavusans-extralight.ttf') format("truetype");           
    font-style: normal;
    font-weight: 200;
}
@font-face {
    font-family: "opensans-l";    
    src: url( '/assets/fonts/opensans-light.ttf') format("truetype");           
    font-style: normal;
    font-weight: 200;
}
@font-face {
    font-family: "opensans-r";    
    src: url( '/assets/fonts/opensans-regular.ttf') format("truetype");           
    font-style: normal;
    font-weight: 200;
}
@font-face {
    font-family: "opensans-b";    
    src: url( '/assets/fonts/opensans-bold.ttf') format("truetype");           
    font-style: normal;
    font-weight: 200;
}


#an_container{
  a{
    text-decoration: underline;
  }
  #about
  {
    width: 48%;
    float: left;
    border-right: 1px solid #eee;
    padding-right: 10px;
    
  }

  #news{
    width: 48%;
    float: right;
    padding-left: 10px;
    h2{
    }
    #news_container{
      li{
        margin-left: 15px;
        a{
          .news_date{
            color: #999;
          }
          .news_title{
          
          }
          &:hover{
            color: #348be8;
            .news_date{
              color: #348be8;
            }
          }
        }
      }
    }
  }
}

.pins-wrapper 
{
	width: 100%;  
	max-width: 1473px;	
	margin: 50px auto;
	text-decoration:none;
	color:#fafafa;
}
.pin
{
	float:left;	
	/*background: #FEFEFE;*/
	/*border: 2px solid #FAFAFA;*/
	    width:459px;
	margin: 0px 22px 55px 0px;		
  /*box-shadow: 0 1px 2px rgba(34, 25, 25, 0.4);*/
	/*background: -webkit-linear-gradient(45deg, #FFF, #F9F9F9);*/

}
.story-thumbnail
{width: 459px;
height: 328px;}
.story-thumbnail img {
    line-height: 328px; 
    /*border-bottom: 1px solid #ccc;*/
    padding-bottom: 22px;    

}
.story-thumbnail a:hover .story-link
{

    background-image: url("/assets/link.png");
background-position: center center;
width: 459px;
height: 329px;
position:absolute;
top:0px;
background-repeat: no-repeat;
background-color:rgba(34,34,34,0.5);
   -webkit-transition: color 0.25s ease-out 0s;
      -moz-transition: color 0.25s ease-out 0s;
      -o-transition: color 0.25s ease-out 0s;
      transition: color 0.25s ease-out 0s;   
      transition-property:background-color;
    -moz-transition-property: background-color; /* Firefox 4 */
    -webkit-transition-property:background-color; /* Safari and Chrome */
    -o-transition-property:background-color; /* Opera */
}
.col  .story-info a
{
	  text-decoration:none;
    opacity: 0.8;
    cursor:pointer;
}
/*.col a:hover
{
    text-decoration:none;
    opacity: 1;
    color:initial;
}*/
.col .story-info a:hover
{
	  text-decoration:none;
    opacity: 1;
    color:initial;
}
.col *:hover
{
    
    opacity: 1;
    
}
.pin .img img 
{
    vertical-align: middle;
    width:459px;
    height:328px;
}
.story-caption
{
    width:400px;
    line-height: 20px;
    font-size:20px;    
    overflow:hidden !important;
    text-overflow: ellipsis;
    text-decoration: none;
    color:#2b2c27;   
    padding-bottom:10px; 
}
.story-caption a
{
    width:400px;
    line-height: 20px;
    font-size:20px;    
    overflow:hidden !important;
    text-overflow: ellipsis;
    text-decoration: none;
    color:#2b2c27;   
    padding-bottom:10px; 
}

.story-caption
{
	color:#444444;
}

.story-publish
{  	
	color:#bbb; 
  font-size:14px;
}
.story-author
{	
	color:#bbb;		
  font-size:14px;
	line-height: 16px;
	height: 16px;
	/*overflow:hidden !important;*/
	text-overflow: ellipsis;
	text-decoration: none;
}
.story-likes
{
   width:39px;
   height:38px;
   background: url('/assets/likes.png') center no-repeat;
  background-size: cover;  
  float:right; 
}
.story-likes a.n3
{
   font-size:14px;
   line-height: 34px;
   padding-left: 7px;
}
.author
{
  color:#4e4e4e;
  font-size:14px;
}
.story-author,.story-publish,.author
{
  display:inline-block;
}
.pagination-wrapper{
  text-align: center;
  margin:0px auto;
  width: 100%;  

  text-decoration:none;
  color:#fafafa;

}
ul.pagination {
  list-style:none;
}
ul.pagination li{
  padding:5px;
  display:inline-block;
}
ul.pagination li a{
font-size:20px;
font-family:opensans-b;
}
ul.pagination li.active a{
font-size:20px;
font-family:opensans-b;
}

.separator
{
  height:16px;
  line-height:16px;  
  width:1px;
  background-color:#bbb;
  display:inline-block;
  margin:0px 9px;
  position:relative;
  top:3px;
}

 .avatar
    {     
    width: 40px;
    height: 40px;
    border-radius: 150px;
    -webkit-border-radius: 150px;
    -moz-border-radius: 150px;    
    box-shadow: 0 0 8px rgba(0, 0, 0, .8);
    -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
    -moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
    margin-top:5px;
    }
/*    img.avatar 
    {
      opacity: 0;
     filter: alpha(opacity=0);
     }*/
     .avatar-link
     {
      margin:0px !important;
      padding:0px !important;
     }

    nav .nav-logo
    {

      padding: 15px 20px 10px 91px;
    }
    nav .nav-user
    {
      padding-right:91px;
      padding-top: 5px;
    }

    nav .nav-user li a
    {     
      color:#fff;
      
    }
    .header{            
      width: 100%;
    height: 550px;
    min-width: 1024px;
    text-align: center;   
    background: transparent url('/assets/headers/header-bg-01.jpg') center no-repeat;
    background-size: cover;   
    -moz-background-clip: border;
    -webkit-background-clip: border;
    background-clip: border-box;
    -moz-background-clip: padding;
    -webkit-background-clip: padding;
    background-clip: padding-box;
    -moz-background-clip: content;
    -webkit-background-clip: content;
    background-clip: content-box;
    z-index:101;
    }
    .header-data
    {
      position:relative;
      width:100%;
      margin:0px auto;
      top:168px;           
      vertical-align: middle;
      color:#fff;

    }

    .header-row
    {
      margin:30px 0px;
    }
    .header-data .h1
    {
      font-family:bandera-pro;
      font-size: 92px;
      color: #fff;      
      margin:0px;
      padding:0px;
    }
    .header-data .h1:lang(ka)
    {
      font-family:dejavusans-el;
      font-size: 92px;
    }


    .header-data .h3
    {
      font-family:bandera-pro,dejavusans-el;
      font-size: 38px;
      color:#fff;      
      margin:0px;
      padding:0px;
    }
    .header-data .h3:lang(ka)
    {
      font-family:dejavusans-el;
      font-size: 78px;
    }
    .header-data .intro
    {
      font-family:opensans-l,dejavusans-el;
      font-size:16px;
      margin:16px 0px 35px 0px;      
      padding:0px;
    }
    .btn-create-story
    {        

        text-align: center;
        margin: 0px auto;
        width:178px;
        height:57px;
     }
    .btn-create-story a
    {
      display:block;
      font-family:opensans-r;
      font-size:18px;
      color:#fff !important;      
      background: transparent url('/assets/create-story.png') center no-repeat;
      background-position: 25px 19px; 
      border:1px solid #fff;
      -webkit-border-radius: 133px;
      -moz-border-radius: 133px;
      border-radius: 133px;
      width:178px;
      height:57px;
      padding: 18px 0px 0px 24px
    }

    .btn-create-story a:hover,.btn-create-story a:focus
    {      
      color:#000 !important;
      background: transparent url('/assets/create-story-hover.png') center no-repeat; 
      background-position: 25px 19px; 
      background-color:#fff;

    }
    #filter
    {
      width:100%;
      margin:75px auto 0px auto;
      height:60px; /*56px*/
    }
 
    .search-wrapper
    {
      float:right;
      height:56px;
      line-height:56px;
      vertical-align:middle;
      
    }
     .search-box
    {
      
      height:56px;
      width:56px;
      line-height:56px;
      display: table;

      padding-left:20px;
      padding-right: 17px;
      border:1px solid #cdcdcd;
      -webkit-border-radius: 30px;
      -moz-border-radius: 30px;
      border-radius: 30px;
      -webkit-transition: all 0.7s linear 0s;
      -moz-transition: all 0.7s linear 0s;
      -o-transition: all 0.7s linear 0s;
      transition: all 0.7s linear 0s;   
      transition-property:width;
-moz-transition-property: width; /* Firefox 4 */
-webkit-transition-property:width; /* Safari and Chrome */
-o-transition-property:width; /* Opera */
      z-index:103;
      
    }
     .search-box:hover
     {  width:500px;}
 
    .search-box.active
     {  width:500px;}
 
 
*:focus {
    outline: 0;
}
     .search-text 
      {
         overflow:hidden;
         margin-right:40px; 
         margin-left:6px;    
         display:table-cell;   
         min-width:0px; 

     }
     .search-text input
    {
          
      font-family:opensans-r;
      font-size:16px;      
      width:100%;
      height:40px;
      line-height:25px;
      border:none;
      background-color:transparent;
      color:#878787;
      display:none;
      /*padding:5px 10px;*/      
    
    }
     .search-box:hover .search-text input
     {
 
     }
   .search-button
   {
    display:table-cell;
      background: transparent url('/assets/search.png'); 
      background-repeat: no-repeat;
      background-position: center center;
      background-size: 20px 21px;
/*      background-attachment: local;
      background-origin:content-box;*/
      width:20px;
      height:56px;
      min-width:20px;
      cursor:pointer;
   }
.search-label
  {
      display:inline-block;
      float:left;
      font-family:opensans-r;
      font-size:16px;      
      width:130px;
  color:#878787;
      line-height:42px;
      border:none;
      background-color:transparent;
      padding:5px 10px;
      margin-right:20px; 
      z-index:102;

  }

.social
{display:inline-block;
 margin-left:30px;}

      



.story-thumbnail img{-webkit-transition:all .25s linear;-moz-transition:all .25s linear;-o-transition:all .25s linear;transition:all .25s linear;-webkit-transform:translateZ(0);-moz-transform:translateZ(0);-ms-transform:translateZ(0);transform:translateZ(0)}
.story-thumbnail img{
float: left;
width: 100%;
max-width: 100%;
height: auto;
}
.grid-wrapper{max-width:;}
.grid{margin:0}
.grid{clear:both;margin:0 23px 0 0}
.grid:after{content:'';display:block;clear:both}
.grid.no-clear:after{display:none}
.inner .grid{margin:0 0 0 -23px}
.grid .col{position:relative;float:left;padding:0 0 23px 23px;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;-ms-box-sizing:border-box;box-sizing:border-box;-webkit-transition:width .3s ease-out;-moz-transition:width .3s ease-out;-ms-transition:width .3s ease-out;transition:width .3s ease-out}
.grid .col.first{padding-left:0}
.grid.test .col .content{padding:20px 0;background:#df6c4f;color:#FFF;text-align:center}
.grid .col.n-1{width:8.33%}
.grid .col.n-2{width:16.66%}
.grid .col.n-2-5{width:20%}
.grid .col.n-3{width:25%}
.grid .col.n-4{width:33.33%}
.grid .col.n-5{width:41.66%}
.grid .col.n-6{width:50%}
.grid .col.n-7{width:58.33%}
.grid .col.n-8{width:66.66%}
.grid .col.n-9{width:75%}
.grid .col.n-9-5{width:80%}
.grid .col.n-10{width:83.33%}
.grid .col.n-11{width:91.66%}
.grid .col.n-12{width:100%}
.pad-left{padding-left:23px}
.mar-left{margin-left:23px}
.grid.one-row .col,.grid .col.one-row,.grid.one-row .col .list-item>li,.grid.one-row p:last-child{margin-bottom:0;padding-bottom:0}
.col-2 .col:nth-of-type(2n+1),.col-3 .col:nth-of-type(3n+1),.col-6 .col:nth-of-type(6n+1){clear:both}
.grid.align-center{text-align:center}
.grid.align-center .col{float:none;display:inline-block}
@media screen and (max-width:1570px)
{
  #content.full{padding:0}
  .grid .col.n-3{width:33.33%}
  .col-4 .col:nth-of-type(4n+1){clear:none}
  .col-4 .col:nth-of-type(3n+1){clear:both}
  .grid .col.n-2-5{width:25%}
  .col-5 .col:nth-of-type(5n+1){clear:none}
  .col-5 .col:nth-of-type(4n+1){clear:both}
  .user-directory .grid .col.n-9-5{width:75%}
  .user-directory .grid .col.n-3{width:33.33%}
}

  @media screen and (max-width:1530px)
  {
    .list-item li .countdown .stats{display:none}
}
  @media screen and (max-width:1280px)
  {
    .list-item li .countdown .hasCountdown{display:none}
    .list-item li .countdown .stats{display:block}
    .grid .col.n-2{width:19.99%}
    .col-6 .col:nth-of-type(6n+1){clear:none}
    .col-6 .col:nth-of-type(5n+1){clear:both}
    .grid .col.n-2-5{width:33.33%}
    .col-5 .col:nth-of-type(4n+1){clear:none}
    .col-5 .col:nth-of-type(3n+1){clear:both}
    .grid .col.n-3{width:50%}
    .col-4 .col:nth-of-type(3n+1){clear:none}
    .col-4 .col:nth-of-type(2n+1){clear:both}
    .user-directory .grid .col.n-9-5{width:66.67%}
    .user-directory .grid .col.n-3{width:50%}}
    @media screen and (max-width:1156px){
      .grid .col.n-2{width:24.99%}
      .col-6 .col:nth-of-type(5n+1){clear:none}
      .col-6 .col:nth-of-type(4n+1){clear:both}}
      @media screen and (max-width:1096px){
        .grid .col.n-4{width:50%}
        .col-3 .col:nth-of-type(3n+1){clear:none}
        .col-3 .col:nth-of-type(2n+1){clear:both}
        .grid .col.n-2-5{width:50%}
        .col-5 .col:nth-of-type(3n+1){clear:none}
        .col-5 .col:nth-of-type(2n+1){clear:both}
        .user-directory .grid .col.n-9-5{width:100%;padding-bottom:0}
      }
        @media screen and (max-width:954px)
        {
          .list-table>li .col.n-2{display:none}
        .list-table>li .col.n-1,.list-table>li .col.n-3{width:50%}
        .list-table>li .col.n-4{clear:both;width:100%}
        .block.head-user.votes .list-table>li .col.n-4 p{display:none}
        .block.head-user.votes .list-table>li .col.n-4 .box-notesite{float:none;padding:10px 0 0 0;top:0}
        .grid .col.n-2{width:33.329%}
        .col-6 .col:nth-of-type(4n+1){clear:none}
        .col-6 .col:nth-of-type(3n+1){clear:both}}
        @media screen and (max-width:768px){
          .grid .col.n-2{width:50%}
        .col-6 .col:nth-of-type(3n+1){clear:none}
        .col-6 .col:nth-of-type(2n+1){clear:both}
        .grid .col.n-2-5{width:100%}
        .grid .col.n-2-5 .box-user .desc{height:auto}
        .col-5 .col:nth-of-type(2n+1){clear:none}
        .grid .col.n-3{width:100%}
        .user-directory .grid .col.n-3{width:100%}}
        @media screen and (max-width:614px){
          .grid .col.n-4{width:100%}}
          @media screen and (max-width:480px){.list-table>li .col.n-3{display:none}}