form.settings{
  .avatar_container{
    margin-bottom: 10px;
    & > img{
      float: left;
      margin:0px;
      padding:5px 10px 5px 0px;
    }
    & > div{
      float: left;
    }
    
  }

}

form#notifications{
  .section{
    margin-bottom: 15px;
  }

  .disable_notifications{
    opacity: 0.5;
    filter: alpha(opacity=50);
  }

  .enable_notifications{
    opacity: 1.0;
    filter: alpha(opacity=100);
  }
}
