.preview img
{
	vertical-align:middle;
}
.radio, .checkbox {
   padding-left: 0;
}
.radio .choices, .checkbox .choices {
   padding-left: 18px;
}

.formtastic .boolean label {
  padding-left: 0px;  
}
#storiesTable img
{
  vertical-align:middle;
}

.publish
{
  display:block;
  width:16px;
  height:16px;
  vertical-align: middle;
}
.published
{
  background:url(/assets/check16.png);
  background-position:0px 0px;  
  background-repeat:no-repeat;  
}
.unpublished
{
  background:url(/assets/uncheck16.png);  
  background-position:0px 0px; 
  background-repeat:no-repeat;
}

/*section stuff*/
.story-tree
  {
    width:100%;
    background-color: #e8e8e8;  
    -webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
 }
  .story-tree span
  {
    display:block;
  }
  .story-tree span
  {
    padding:7px;
  }
  .story-tree ul li.item 
  {
border-bottom:1px solid lightgrey;
  }
  .story-tree ul li.item ul li.sub span
  {
    padding-left:10px;
    overflow:hidden;
  }
  .story-tree  span
  {
      color: rgb(51, 51, 51);
   
  }
  .story-tree  ul li.item span:hover
  {
        color: #fff;
      background-color: #54A6FF;    
  }
    .story-tree ul li.item ul li.sub span:hover
  {   color: #fff;
      background-color: #8CC3FF;    
  }


   .story-tree > ul > li.item > span 
  {
      font-size:13px;
      font-weight: bold;
      
    }

     .story-tree > ul > li.item > ul > li.sub
  {
      font-size:13px;
      
      
    }
    .story-tree ul > li.active > span
  {
         color: #fff;
      background-color: #54A6FF;
  }
    .story-tree ul > li > ul > li.active > span
  {
      color: #fff;
      background-color: #8CC3FF;

  }
   .story-tree a
  {
    text-decoration: none;

  }

  #toolbar div
  {
    float:left;
  } 
.clear { 
    clear:both; 
}

  #toolbar
  {
    clear:both;
    display:block;
  }