.preview img
{
	vertical-align:middle;
}
.radio, .checkbox {
   padding-left: 0;
}
.radio .choices, .checkbox .choices {
   padding-left: 18px;
}

.formtastic .boolean label {
  padding-left: 0px;  
}
#storiesTable img
{
  vertical-align:middle;
}


/*section stuff*/
.story-tree
  {
    width:100%;
    background-color: #e8e8e8;  
/*    -webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;*/
  margin-left: 8px;
 }
  .story-tree span
  {
    display:block;
  }
  .story-tree span
  {
    padding:7px;
  }
  .story-tree ul li.item 
  {
border-bottom:1px solid lightgrey;
  }
  .story-tree ul li.item ul li.sub span
  {
    padding-left:10px;
    overflow:hidden;
  }
  .story-tree  span
  {
      color: rgb(51, 51, 51);
   
  }
  .story-tree  ul li.item span:hover
  {
        color: #fff;
      background-color: #54A6FF;    
  }
    .story-tree ul li.item ul li.sub span:hover
  {   color: #fff;
      background-color: #8CC3FF;    
  }


   .story-tree > ul > li.item > span 
  {
      font-size:13px;
      font-weight: bold;
      
    }

     .story-tree > ul > li.item > ul > li.sub
  {
      font-size:13px;
      
      
    }
    .story-tree ul > li.active > span
  {
         color: #fff;
      background-color: #54A6FF;
  }
    .story-tree ul > li > ul > li.active > span
  {
      color: #fff;
      background-color: #8CC3FF;

  }
   .story-tree a
  {
    text-decoration: none;

  }

  #toolbar div
  {
    float:left;
  } 
.clear { 
    clear:both; 
}

  #toolbar
  {
    clear:both;
    display:block;
  }
  
#previewStory{
  height:85%;
  width:90%;
  top:35px;
  .modal-data{
    width:100%; 
    height:100%; 
    border:1px solid #bfbfbf;
  }  
}

#reviewerKey{
  height:50%;
  width:50%;
  top:35px;
  .modal-data{
    width:100%; 
    height:100%;
  }  
}

.add_imgage_button{
  border-bottom:1px solid #eee;
  border-top:1px solid #eee;
  padding:10px 0px;
  width:100%;  
}

.image_asset_form_container{
  border-top:1px solid #eee;  
  padding:20px 0px 0px 20px;
  margin-bottom: 10px;
  height:180px;
  
  .preview_img{
    width:170px;
    height:170px;
    float:left;
    background-color:#E8E8E8;
    margin:10px 20px 10px 10px;
    img{
      padding: 5px 5px;
    }
  }
  
  .remove_image_button{
    float:right;
    margin-right:20px;
    margin-bottom:10px; 
  }
}
#slideshowAssets input
{
  width:68%;
}


/* should be merged with root TODO */


.header{            
  width: 100%;
height: 550px;
min-width: 1024px;
text-align: center;   
/*background: transparent url('/assets/headers/header-bg-01.jpg') center no-repeat;*/
background-color:#156995;
background-size: cover;   
-moz-background-clip: border;
-webkit-background-clip: border;
background-clip: border-box;
-moz-background-clip: padding;
-webkit-background-clip: padding;
background-clip: padding-box;
-moz-background-clip: content;
-webkit-background-clip: content;
background-clip: content-box;
z-index:101;
}
.header-data
{
  position:relative;
  width:100%;
  margin:0px auto;
  top:168px;           
  vertical-align: middle;
  color:#fff;

}

.header-row
{
  margin:30px 0px;
}
.header-data .h1
{
  font-family:bandera-pro;
  font-size: 92px;
  color: #fff;      
  margin:0px;
  padding:0px;
}
.header-data .h1:lang(ka)
{
  font-family:dejavusans-el;
  font-size: 92px;
}


.header-data .h3
{
  font-family:bandera-pro,dejavusans-el;
  font-size: 38px;
  color:#fff;      
  margin:0px;
  padding:0px;
}
.header-data .h3:lang(ka)
{
  font-family:dejavusans-el;
  font-size: 78px;
}
.header-data .intro
{
  font-family:opensans-l,dejavusans-el;
  font-size:16px;
  margin:16px 0px 35px 0px;      
  padding:0px;
}
.btn-create-story
{        

    text-align: center;
    margin: 0px auto;
    width:178px;
    height:57px;
 }
.btn-create-story a
{
  display:block;
  font-family:opensans-r;
  font-size:18px;
  color:#fff !important;      
  background: transparent url('/assets/create-story.png') center no-repeat;
  background-position: 25px 19px; 
  border:1px solid #fff;
  -webkit-border-radius: 133px;
  -moz-border-radius: 133px;
  border-radius: 133px;
  width:178px;
  height:57px;
  padding: 18px 0px 0px 24px;
  text-decoration:none;
}

.btn-create-story a:hover,.btn-create-story a:focus
{      
  color:#000 !important;
  background: transparent url('/assets/create-story-hover.png') center no-repeat; 
  background-position: 25px 19px; 
  background-color:#fff;
  text-decoration:none;

}

#staff-pick{
  margin: 10px 0;
}


    }

.story-edit
{
  position:absolute;  
  top:13px;
  right:13px;
  width:auto;
}

.story-edit-menu > ul.nav > li > ul > li > a i.glyphicon
{
  top:3px;
  padding-right:10px;
  font-size:15px;
}
.story-edit-menu > ul.nav > li > ul > li > a
{
  padding:2px 11px;
}

.story-edit ul li button
{  
  color:#666 !important;
  background-color:rgb(255,255,255) !important;
  opacity:0.5;
  border:none;
}

.story-edit .dropdown-menu.pull-right
{
 right: 0px;
 top:100%;  
}
