#story-header-buttons{
  .hide{
    display: none;
  }

  .stats-count{
    line-height: 1;
    vertical-align: top;
    display: inline-block;
    margin-left: 3px;
  }
}
.story-menu
{
	margin:10px 0px 0px 10px;
}